$color-primary: #8a9298;
$color-blue: 	#327997;
$color-white: 	#fff;
$color-black: 	#3b3b3b;
$color-black-rgb: rgb(0, 0, 0);

// slide-1 navigation colors
$color-button-active: rgb(89, 163, 167);
$color-nav-list: rgb(0, 17, 17);

//slide-1 header colors
$color-header-1-paragraph: rgb(76, 162, 190);
$color-header-h1: rgba(115, 125, 125, 0.7);

//slide-2 navigation-color
$color-nav-list-2: rgb(186, 161, 180);
$color-border: rgba(9, 13, 16, 0.5);

//slide-2 header color
$color-header-2-paragraph: rgb(80, 165, 190);
$color-header-2-h1: rgba(11, 28, 43, 0.4);

//slide-3-navigation-color 
$color-navigation-3-back: rgb(52, 53, 53);
$color-slide-3-button: rgba(0, 0, 0, 0.8);

//services-color 
$color-services-h1: rgb(65, 65, 65);

//team-color
$color-team-p: rgb(211, 211, 211)